@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

:root {
  --background: #EFF6FF;
  --foreground: #0a0a0a;

  --card: #ffffff;
  --card-foreground: #09090b;

  --popover: #ffffff;
  --popover-foreground: #09090b;

  --primary: #2563eb;
  --primary-foreground: #ffffff;

  --primary-background: #DBEAFE;

  --secondary: #eff6ff;
  --secondary-foreground: #1d4ed8;

  --muted: #f4f4f5;
  --muted-foreground: #71717a;

  --accent: #f4f4f5;
  --accent-foreground: #09090b;

  --destructive: #ef4444;
  --destructive-foreground: #ffffff;

  --success: #22c55e;
  --success-foreground: #ffffff;

  --info: #FFF9C4;
  --info-foreground: #000000;

  --faded: #6B7280;
  --ring: #2563eb;

  --radius: 0.5rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-background: var(--primary-background);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-success: var(--success);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-faded: var(--faded);
  --color-ring: var(--ring);

  --font-sans: var(--font-body);
  --font-heading: var(--font-heading-serif);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  cursor: default;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}